body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

h1 {
    font-size: 2em;
    color: #333;
}

p {
    font-size: 1.2em;
    line-height: 1.6em;
    color: #555;
}

.home-section {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.home-photo {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}

.image-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 150px;
}

.image-row img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.intro, .bio, .experience, .portfolio {
    max-width: 800px;
    margin: 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}